@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap');
:root {
	--main-color: #2196f3;
	--black-clr: rgb(24, 24, 24);
	--main-color-alt: #1787e0;
	--main-transition: 0.3s;
	--main-padding-top: 100px;
	--main-padding-bottom: 100px;
	--section-background: #ececec;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cairo', sans-serif;
}
section:not(.landing-content) {
	margin-bottom: 6rem;
}
@media (max-width: 62.5em) {
	section:not(.landing-content) {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}
@media (max-width: 31.25em) {
	section:not(.landing-content) {
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}
}
@media (max-width: 25em) {
	section:not(.landing-content) {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
main {
	display: flex;
	flex-direction: column;
}

html {
	scroll-behavior: smooth;
}
body {
	height: 6000px;
}

a {
	text-decoration: none;
	display: inline-block;
}
ul {
	list-style: none;
}
.logo {
	font-size: 1.65rem;
	font-weight: bold;
	color: var(--main-color);
}
@media (max-width: 31.5em) {
	.logo {
		margin: auto;
	}
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 6rem;
	box-shadow: 0 -5px 20px rgba(16, 15, 36, 0.137);
	flex-wrap: wrap;
	position: relative;
}
.big-menu {
	background-color: rgb(255, 255, 255);
	position: absolute;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
	color: var(--main-color);
	display: flex;
	width: 80%;
	padding: 2rem 2.5rem;
	border-bottom: 3px solid var(--main-color);
	justify-content: space-between;
	gap: 2.5rem;
	top: 150%;
	opacity: 0;
	transition: var(--main-transition);
	z-index:-1;
}

.big-menu .menu-img {
	width: 350px;
	flex-shrink: 0;
}
.big-menu .menu-img img {
	max-width: 100%;

	display: block;
}
.big-menu .secondary-links {
	flex: 100%;
}
.big-menu a {
	color: inherit;
	font-weight: bold;
	font-size: 1.1rem;
}
.big-menu li i {
	margin: 0 0.5rem;
	font-size: 1.1rem;
}
.big-menu li {
	margin-bottom: 0.75rem;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.big-menu li::before {
	content: '';
	background-color: #1786e008;
	position: absolute;
	width: 0%;
	height: calc(100% + 1.4rem);
	z-index: -1;
	transition: var(--main-transition);
	left: 0;
}
.big-menu li:hover:before {
	width: 100%;
}
.big-menu .menu-line {
	width: 100%;
	height: 1px;
	background-color: rgb(236, 236, 236);
	margin-bottom: 0.75rem;
}

header nav .primary-links li a:hover + .big-menu {
	opacity: 1;
	top: 100%;
	z-index: 3;
}
.big-menu:hover {
	top: 100%;
	opacity: 1;
	z-index: 3;
}
@media (max-width: 62.5rem) {
	.big-menu .menu-img {
		display: none;
	}
}
@media (max-width: 37.5rem) {
	.big-menu {
		flex-direction: column;
	}
}
header .primary-nav {
	align-self: stretch;
}
header .primary-nav .primary-links {
	display: flex;
	background-color: white;
	align-self: stretch;
	height: 100%;
	flex-wrap: wrap;
}

header .primary-nav .primary-links .link .anchor::before {
	content: '';
	display: block;
	position: absolute;
	width: 0%;
	height: 4px;
	top: 0;
	left: 50%;
	background-color: var(--main-color);
	transition: var(--main-transition);
	transform: translatex(-50%);
}

header .primary-nav .primary-links .link .anchor {
	color: var(--black-clr);
	font-size: 1.1rem;
	padding: 1.2rem 2rem;
	position: relative;
	transition: var(--main-transition);
}
@media (max-width: 43.188em) {
	header {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
		gap: 1rem;
	}
	header .primary-nav .primary-linksl .link .anchor {
		padding: 1rem;
	}
}
@media (max-width: 26.813em) {
	header {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
		justify-content: center;
	}
	header .primary-nav .primary-links.link {
		flex: 100%;
		text-align: center;
	}
}
header .primary-nav .primary-links .link .anchor:hover::before {
	width: 100%;
}
header .primary-nav .primary-links .link .anchor:hover {
	color: var(--main-color);
	background-color: hsla(207, 90%, 54%, 0.025);
}
main h1 {
	font-size: 2.5rem;
	font-weight: bolder;
	letter-spacing: -2px;
	line-height: 1.5;
	width: max-content;
}
@media (max-width: 62.5em) {
	main h1 {
		font-size: 2.1rem;
	}
}
main .landing-img {
	display: block;
	max-width: 50%;
	animation-name: up-and-down;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@keyframes up-and-down {
	0% {
		transform: translatey(0%);
	}
	50% {
		transform: translatey(-10%);
	}
	100% {
		transform: translatey(2%);
	}
}

main .landing-content {
	display: flex;
	background-color: rgb(233, 233, 233);
	padding: 2rem 6rem 6rem;
	align-items: center;
	justify-content: space-between;
	position: relative;
	clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
@media (max-width: 62.5em) {
	main .landing-content {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}
@media (max-width: 56.25em) {
	main .landing-content {
		flex-direction: column-reverse;
	}
	main h1 {
		width: auto;
	}
	main .landing-content .text {
		margin: auto;
		width: fit-content;
		text-align: center;
	}
	main .landing-img {
		margin-bottom: 2rem;
	}
	header {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
@media (max-width: 45em) {
	main .landing-img {
		display: none;
	}
}
.blue {
	color: var(--main-color);
}
.blue-icon {
	color: var(--main-color);
	font-size: 2rem;
	margin: 0 auto;
	align-self: center;
	animation-name: scroll-down;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	margin-bottom: 8rem;

	animation-delay: 500ms;
}
@keyframes scroll-down {
	0% {
		transform: translatey(0%);
	}
	25% {
		transform: translatey(50%);
	}
	50% {
		transform: translatey(0%);
	}
	75% {
		transform: translatey(50%);
	}
	100% {
		transform: translatey(0%);
	}
}
main .landing-content .text {
	flex-basis: 40%;
}
main .landing-content p {
	font-size: 1.4rem;
	color: rgb(88, 88, 88);
}
@media (max-width: 62.5em) {
	main .landing-content p {
		font-size: 1rem;
	}
}
/* start components  */

.section-title {
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid var(--black-clr);
	margin: 0rem auto;
	width: fit-content;
	font-weight: bold;
	padding: 0 1.5rem;
	position: relative;
	margin-bottom: 5rem;
	transition: 0.8s;
	z-index: 2;
}
@media (max-width: 35em) {
	.section-title {
		font-size: 1.5rem;
	}
}
.section-title::before {
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 0.8rem;
	height: 0.8rem;
	background-color: var(--main-color-alt);
	top: 50%;
	transform: translatey(-50%);
	left: -2rem;
	transition: 0.8s;
}
.section-title:hover::before {
	left: 0;
	width: 50%;
	border-radius: 0;
	height: 100%;
	z-index: -1;
}
.section-title::after {
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 0.8rem;
	height: 0.8rem;
	background-color: var(--main-color-alt);
	top: 50%;
	transform: translatey(-50%);
	right: -2rem;
	transition: 0.8s;
}
.section-title:hover::after {
	border-radius: 0;
	width: 50%;
	height: 100%;
	right: 0;
	transition: 0.8s;
	z-index: -1;
}
.section-title:hover {
	color: white;
	border-color: white;
}
.articles {
	padding: 0 6rem;
}

/* end components  */
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: repeat(2, 1fr);
	padding: 0;
	gap: 2rem;
	margin-bottom: 6rem;
}
.card {
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
	overflow: hidden;
	cursor: pointer;
	transition: var(--main-transition);
}
.card:hover {
	transform: translateY(-0.6rem);
}
.card:hover i {
	animation-name: move-right;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}
@keyframes move-right {
	to {
		transform: translatex(10px);
	}
}
.cards p {
	color: rgb(170, 170, 170);
}
.cards a {
	color: var(--main-color);
	font-weight: bold;
}
.card-img {
	max-width: 100%;
	display: block;
}
.card-line {
	width: 100%;
	height: 1px;
	background-color: rgb(230, 230, 230);
}
.button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 1.5rem;
}
.cards .card-text {
	padding: 1rem;
}
.gallery {
	background-color: var(--section-background);
	padding: 6rem;
}
.gallery-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(2, 1fr);
	gap: 2rem;
}
.gallery-cards .gallery-img {
	overflow: hidden;
	position: relative;
}

.gallery .gallery-card {
	background-color: rgb(255, 255, 255);
	padding: 1rem;
	box-shadow: 0 3px 10px rgba(16, 15, 36, 0.137);
	position: relative;
	cursor: pointer;
}
.gallery .gallery-card::before {
	content: '';
	position: absolute;
	height: 0%;
	width: 0%;
	background-color: rgba(247, 247, 247, 0.164);
	transition: 0.2s;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.gallery .gallery-card:hover::before {
	height: 100%;
	width: 100%;
}

.gallery .gallery-card img {
	max-width: 100%;
	transition: var(--main-transition);
	display: block;
	cursor: pointer;
}
.gallery .gallery-card:hover img {
	transform: rotate(3deg) scale(1.1);
	overflow: hidden;
}

.feature-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2.5rem;
	padding: 0 6rem;
}
@media (max-width: 40.625em) {
	.feature-cards {
		padding: 0;
	}
}
.feature-cards .feature-card {
	border: 1px solid rgb(230, 230, 230);
	position: relative;
	cursor: pointer;
}
.feature-cards .feature-card h3 {
	font-size: 2.3rem;
	color: var(--black-clr);
	text-align: center;
	position: relative;
	margin-bottom: 3rem;
}
.feature-cards .feature-card h3::after {
	content: '';
	position: absolute;
	background-color: rgb(226, 53, 41);
	height: 0.3rem;
	width: 30%;
	bottom: 0;
	left: 50%;
	transform: translatex(-50%);
	margin: auto;
}
.feature-cards .feature-card2 h3::after {
	content: '';
	position: absolute;
	background-color: rgb(39, 160, 168);
	height: 0.3rem;
	width: 30%;
	bottom: 0;
	left: 50%;
	transform: translatex(-50%);
	margin: auto;
}
.feature-cards .feature-card3 h3::after {
	content: '';
	position: absolute;
	background-color: rgb(79, 216, 125);
	height: 0.3rem;
	width: 30%;
	bottom: 0;
	left: 50%;
	transform: translatex(-50%);
	margin: auto;
}
.feature-cards .feature-card p {
	color: rgb(129, 129, 129);
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 3rem;
}
.feature-cards .feature-card img {
	max-width: 100%;
	display: block;
}
.feature-cards .feature-card a {
	margin: 0 auto;
	display: block;
	width: fit-content;
	padding: 0.2rem 2rem;
	border-radius: 5px;
	border: 3px solid rgb(226, 53, 41);
	font-size: 1.2rem;
	color: rgb(226, 53, 41);
	font-weight: bold;
	position: relative;
}
.feature-cards .feature-card .btn::before {
	content: '';
	position: absolute;
	top: 0;
	width: 0%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(226, 53, 41);
	transition: var(--main-transition);
}
.feature-cards .feature-card .btn:hover::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(226, 53, 41);
	z-index: -1;
}
.feature-cards .feature-card .btn:hover {
	color: white;
}
.feature-cards .feature-card2 .btn2::before {
	content: '';
	position: absolute;
	top: 0;
	width: 0%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(39, 160, 168);
	transition: var(--main-transition);
}
.feature-cards .feature-card2 .btn2:hover::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(39, 160, 168);
	z-index: -1;
}
.feature-cards .feature-card2 .btn2:hover {
	color: white;
}
.feature-cards .feature-card3 .btn3::before {
	content: '';
	position: absolute;
	top: 0;
	width: 0%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(79, 216, 125);
	transition: var(--main-transition);
}
.feature-cards .feature-card3 .btn3:hover::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(79, 216, 125);
	z-index: -1;
}
.feature-cards .feature-card3 .btn3:hover {
	color: white;
}
.feature-cards .feature-card2 a {
	margin: 0 auto;
	display: block;
	width: fit-content;
	padding: 0.2rem 2rem;
	border-radius: 5px;
	border: 3px solid rgb(39, 160, 168);
	font-size: 1.2rem;
	color: rgb(39, 160, 168);
	font-weight: bold;
}
.feature-cards .feature-card3 a {
	margin: 0 auto;
	display: block;
	width: fit-content;
	padding: 0.2rem 2rem;
	border-radius: 5px;
	border: 3px solid rgb(79, 216, 125);
	font-size: 1.2rem;
	color: rgb(79, 216, 125);
	font-weight: bold;
}

.feature-cards .feature-card .content {
	padding: 2rem 1.5rem;
}
.feature-cards .feature-card .feature-img {
	position: relative;
}
.feature-cards .feature-card .feature-img::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(252, 131, 122);
	mix-blend-mode: color;
	opacity: 0.8;
}
.feature-cards .feature-card2 .feature-img::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(39, 160, 168);
	mix-blend-mode: color;
	opacity: 0.6;
}
.feature-cards .feature-card3 .feature-img::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgb(79, 216, 125);
	mix-blend-mode: color;
	opacity: 0.9;
}
.feature-card .content {
	position: relative;
}
.feature-cards .feature-card .feature-img::before {
	content: '';
	background-color: rgb(255, 255, 255);
	position: absolute;
	height: 200px;
	width: 100%;
	left: 0;
	bottom: -1px;
	background-color: rgb(255, 255, 255);
	clip-path: polygon(0% 95%, 100% 0%, 100% 100%, 0% 100%);
}
/* .feature-card .content::before {
	content: '';
	background-color: rgb(255, 255, 255);
	position: absolute;
	height: 200px;
	width: 100%;
	left: 0;
	top: -50%;	
	background-color: red;
	clip-path: polygon(0% 95%, 100% 0%, 100% 100%, 0% 100%);
} */
.feature-card ::before {
	transition: 200ms;
}
.feature-card:hover > ::before {
	clip-path: polygon(0% 95%, 0% 0%, 100% 100%, 0% 100%) !important;
}
/* .feature-cards .content {
	background-color: rgb(230, 228, 253);
	clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
	position: absolute;
	min-height: 500px;
	top: 15rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	
} */
.testimonial {
	background-color: var(--section-background);
	padding: 6rem;
}
.testimonial-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(2, 1fr);

	gap: 2.5rem;
}
.testimonial-card {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 0.3rem;
	padding: 1.2rem;
	position: relative;
}

.testimonial-card .name {
	font-size: 1.2rem;
	font-weight: bold;
}
.testimonial-card .job {
	font-size: 1rem;
	color: rgb(94, 94, 94);
}
.testimonial-card .desc {
	color: rgb(153, 153, 153);
}
.testimonial-card .avatar {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 10px solid var(--section-background);
	position: absolute;
	top: -50px;
	right: -5px;
}
.testimonial-card .avatar img {
	border-radius: 50%;
	max-width: 100%;
}
.testimonial .filled {
	color: rgb(240, 188, 17);
}
.team-members {
	padding: 0 6rem;
}
.team-members-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(2, 1fr);
	gap: 2rem 6rem;
}
@media (max-width: 64em) {
	.team-members-cards {
		gap: 2rem 2rem;
	}
}
.team-members-cards .title {
	color: var(--main-color);
	font-weight: bold;
	font-size: 1.3rem;
	line-height: 1.3;
}

.team-members-cards .card-img {
	width: 400px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 1rem;
	transform: translatex(-15%);
}
@media (max-width: 64em) {
	.team-members-cards .card-img {
		width: 300px;
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: 1rem;
		transform: none;
	}
}
.team-members-cards .card-img img {
	max-width: 100%;
	display: block;
	transition: var(--main-transition);
}

.team-members-cards .team-members-card {
	background-color: rgb(240, 240, 240);
	border-radius: 10px;
	padding-top: 4rem;
	padding-bottom: 1rem;
	padding-right: 1.5rem;
	cursor: pointer;
	position: relative;
	z-index: 2;
}
@media (max-width: 64em) {
	.team-members-cards .team-members-card {
		padding-right: 0;
	}
}
.team-members-cards .team-members-card:hover img {
	filter: grayscale(100%);
}
.team-members-cards .team-members-card::before {
	content: '';
	width: 0%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: rgb(231, 231, 231);
	position: absolute;
	border-radius: 10px;
	transition: var(--main-transition);
	z-index: -1;
}
.team-members-cards .team-members-card:hover::before {
	width: 100%;
}

.social-icons {
	display: flex;
	color: rgb(117, 117, 117);
	flex-direction: column;
	gap: 2rem;
	width: fit-content;
	align-items: center;
	font-size: 1.1rem;
}
.social-icons i {
	transition: var(--main-transition);
	cursor: pointer;
}
.social-icons i:hover {
	color: var(--main-color);
}
.flex-container {
	display: flex;
	align-items: center;
}
@media (max-width: 64em) {
	.flex-container {
		gap: 3rem;
		padding: 0 1.5rem;
	}
}
.team-members-cards .text {
	padding-left: 1rem;
}
.services {
	background-color: var(--section-background);
	padding: 6rem;
}
.services .services-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(2, 1fr);

	gap: 2.5rem;
}
.services-cards .services-card {
	background-color: white;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.068);
	cursor: pointer;
	transition: var(--main-transition);
	position: relative;
}
.services-cards .services-card:hover {
	transform: translateY(-0.5rem);
}
.services-cards .services-card::before {
	content: '';
	width: 0%;
	height: 0.2rem;
	background-color: var(--main-color);
	position: absolute;
	transition: var(--main-transition);
	left: 50%;
	transform: translateX(-50%);
}
.services-cards .services-card:hover::before {
	content: '';
	width: 100%;
	height: 0.2rem;
	background-color: var(--main-color);
	position: absolute;
}
.services-cards .services-card h3 {
	color: var(--main-color);
	text-align: center;
	font-size: 1.5rem;
}
.services-cards .services-card i {
	margin: 0 auto;
	color: rgb(221, 221, 221);
	display: block;
	width: fit-content;
	margin-bottom: 1rem;
}
.details {
	background-color: rgb(248, 248, 248);
	display: flex;
	align-items: center;
	position: relative;
}
.details p {
	color: var(--main-color);
	margin-left: auto;
	margin-right: 1rem;
}
.services-cards .services-card .content {
	padding: 2rem;
}
.services-cards .services-card .number {
	color: white;
	background-color: var(--main-color);
	font-size: 2rem;
	font-weight: bold;
	padding: 0.75rem 2.1rem;
	line-height: 1;
}
.shape {
	width: 3.5rem;
	height: 100%;
	position: absolute;
	left: 84px;
	transform: skewX(-30deg);
	background-color: rgb(224, 224, 224);
}
.skills-section {
	display: flex;
	justify-content: center;
	align-items: center;
}
.skills-section img {
	display: block;
	max-width: 100%;
}

.our-skills .skills {
	width: 45%;
}
@media (max-width: 62.5em) {
	.skills-section {
		flex-direction: column;
	}
	.our-skills .skills {
		width: 100%;
	}
}
.our-skills .skills .bar {
	width: 100%;
	height: 1.75rem;
	background-color: rgb(236, 236, 236);
	margin-bottom: 1rem;
	position: relative;
}
.our-skills .skills .bar::after {
	content: '80%';
	position: absolute;
	top: -2.5rem;
	right: 0;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 0.2rem;
	padding: 0 0.4rem;
	font-size: 0.75rem;
	font-weight: bold;
	color: var(--main-color);
}
.our-skills .skills .bar2::after {
	content: '85%';
	position: absolute;
	top: -2.5rem;
	right: 0;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 0.2rem;
	padding: 0 0.4rem;
	font-size: 0.75rem;
	font-weight: bold;
	color: var(--main-color);
}
.our-skills .skills .bar3::after {
	content: '70%';
	position: absolute;
	top: -2.5rem;
	right: 0;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 0.2rem;
	padding: 0 0.4rem;
	font-size: 0.75rem;
	font-weight: bold;
	color: var(--main-color);
}
.our-skills .skills .bar .progress1 {
	width: 80%;
	height: 100%;
	background-color: var(--main-color);
}
.our-skills .skills .bar .progress2 {
	width: 85%;
	height: 100%;
	background-color: var(--main-color);
}
.our-skills .skills .bar .progress3 {
	width: 70%;
	height: 100%;
	background-color: var(--main-color);
}
.our-skills .skills .bar .progress4 {
	width: 80%;
	height: 100%;
	background-color: var(--main-color);
}
.our-skills .skills p {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 0.75rem;
}
.how-it-works {
	background-color: var(--section-background);
	padding: 6rem;
}
.features {
	flex-grow: 1;
}
.how-it-works .how-section {
	display: flex;
	justify-content: space-between;
	gap: 7rem;
	align-items: center;
}
@media (max-width: 81.25em) {
	.how-it-works .how-section {
		flex-direction: column;
	}
}
.how-it-works .how-section img {
	max-width: 100%;
	display: BLOCK;
}
.how-it-works .feature {
	display: flex;
	align-items: center;
	background-color: rgb(246 245 245);
	gap: 1.5rem;
	border-radius: 0.3rem;
	border: 2px solid white;
	padding: 1.3rem 2.5rem 1.3rem 1.75rem;
	margin-bottom: 1.25rem;
	position: relative;
	z-index: 2;
	cursor: pointer;
}
@media (max-width: 30em) {
	.how-it-works .feature {
		flex-direction: column;
		text-align: center;
	}
}
.how-it-works .feature::before {
	content: '';
	position: absolute;
	height: 0%;
	width: 0%;
	top: 50%;
	left: 50%;
	border-radius: 0.3rem;
	background-color: rgb(236, 236, 236);
	z-index: -1;
	transform: translate(-50%, -50%);
	transition: var(--main-transition);
}
.how-it-works .feature:hover::before {
	height: 100%;
	width: 100%;
}

.features .icon {
	width: 4rem;
}
.how-it-works .feature h3 {
	font-size: 1.4rem;
}
.how-it-works .feature p {
	font-size: 1.1rem;
	color: rgb(112, 112, 112);
}
.latest-events .events-section {
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 3rem;
}
@media (max-width: 78em) {
	.latest-events .events-section {
		flex-direction: column;
	}
}
.latest-events .events-section img {
	width: 28rem;
	margin: auto;
	max-width: 100%;
}
.latest-events {
	padding: 6rem;
	position: relative;
}
.latest-events::before {
	content: url('../imgs/dots.png');
	position: absolute;
	right: 0;
	top: 13rem;
}
.latest-events::after {
	content: url('../imgs/dots.png');
	position: absolute;
	left: 0;
	bottom: 9rem;
}
@media (max-width: 78em) {
	.latest-events::before,
	.latest-events::after {
		display: none;
	}
}
.latest-events .events-section h3 {
	font-size: 2rem;
}
@media (max-width: 31.25em) {
	.latest-events .events-section h3 {
		font-size: 1.75rem;
	}
}
.latest-events .events-section p {
	font-size: 1.2rem;
	color: rgb(136, 136, 136);
}
@media (max-width: 31.25em) {
	.latest-events .events-section p {
		font-size: 1rem;
	}
}

.latest-events .events-section .line {
	transition: var(--main-transition);
	width: 100%;
	height: 1px;
	background-color: rgb(231, 231, 231);
}
.latest-events .content .counter {
	display: flex;
	justify-content: center;
	width: fit-content;
	gap: 0.75rem;
	margin: 0 auto 1.5rem;
}
.latest-events .content .counter .name {
	font-size: 0.9rem;
	padding: 0.2rem 1rem;
}
@media (max-width: 25em) {
	.latest-events .content .counter .name {
		padding: 0;
		font-size: 0.75rem;
	}
}
.latest-events .events-section .block {
	border: 1px solid rgb(231, 231, 231);
	border-radius: 5px;
	transition: var(--main-transition);
}
.latest-events .events-section .block:hover {
	border-color: var(--main-color);
}
.latest-events .events-section .block:hover .line {
	background-color: var(--main-color);
}
.latest-events .events-section .number {
	padding: 0.2rem 1.1rem;
	font-size: 2.25rem;
	font-weight: 700;
	color: var(--main-color);
}
@media (max-width: 25em) {
	.latest-events .events-section .number {
		padding: 0.2rem 0.9rem;
		font-size: 2rem;
	}
}
.latest-events form {
	margin: 0 auto;
	background-color: rgb(243, 243, 243);
	width: fit-content;
	padding: 2rem 2.5rem;
	border-radius: 100px;
}
.latest-events form input {
	border: none;
	outline: none;
	width: 27rem;
	padding: 1rem 2rem;
	padding-left: 1.5rem;
	border-radius: 40px;
	caret-color: var(--main-color);
	font-size: 1rem;
	margin-right: 1rem;
	box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.137);
}
@media (max-width: 78em) {
	.latest-events form input {
		width: 100%;
		margin-bottom: 1rem;
		border-radius: 4px;
	}
	.latest-events form {
		padding: 1rem 2rem;
		border-radius: 4px;
	}
}
.latest-events form input::placeholder {
	font-size: 1rem;
	display: block;
}
.latest-events form button {
	all: unset;
	color: white;
	background: var(--main-color);
	padding: 1rem 2rem;
	border-radius: 40px;
	font-weight: bold;
	transition: var(--main-transition);
	cursor: pointer;
}
@media (max-width: 78em) {
	.latest-events form button {
		width: 100%;
		border-radius: 4px;
		text-align: center;
		padding: 1rem 0;
	}
}
.latest-events form button:hover {
	background-color: var(--main-color-alt);
}
.pricing-plans {
	background-color: var(--section-background);
	padding: 6rem;
}
.pricing-plans .plan .icon {
	width: 5rem;
	padding-bottom: 2rem;
}
.pricing-plans .plan {
	box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.15);
	width: 20rem;
	padding: 2rem 0;
	background: white;
	cursor: pointer;
}
@media (max-width: 70em) {
	.pricing-plans .plan {
		width: 100%;
	}
}
.pricing-plans .plan .icon,
.pricing-plans .plan .price,
.pricing-plans .plan .duration,
.pricing-plans .plan h3,
.pricing-plans .plan button {
	margin: auto;
	display: block;
	text-align: center;
}
.pricing-plans .plan h3 {
	font-size: 1.5rem;
	line-height: 1;
	margin-bottom: 2rem;
}
.pricing-plans .plan .plan-line {
	background: rgb(245, 245, 245);
	width: 100%;
	height: 1px;
}
.pricing-plans .plan .price {
	font-size: 3.5rem;
	font-weight: bold;
	color: var(--main-color);
	line-height: 1;
	margin-bottom: 0.5rem;
}
.pricing-plans .plan ul li {
	padding: 1rem 0;
}
.pricing-plans .plan .duration {
	color: rgb(129, 129, 129);
	margin-bottom: 1rem;
}
.pricing-plans .plan ul li::before {
	font-family: 'Font Awesome 5 Free';
	content: '\f00c';
	color: var(--main-color);
	font-weight: 900;
	margin: 0 1rem;
}
.pricing-plans .plan ul li:last-child {
	margin-bottom: 2rem;
}
.pricing-plans .plan button {
	padding: 0.5rem 1rem;
	border: 2px solid var(--main-color);
	outline: none;
	background: none;
	color: var(--main-color);
	font-weight: bold;
	font-size: 1rem;
	border-radius: 4px;
	transition: var(--main-transition);
	cursor: pointer;
}
.pricing-plans .plan button:hover {
	background-color: var(--main-color);
	color: white;
}
.pricing-plans .plans {
	display: flex;
	gap: 2rem;
}
@media (max-width: 70em) {
	.pricing-plans .plans {
		flex-direction: column;
		align-items: center;
	}
}
.pricing-plans .plans > * {
	flex: 1;
}
.pricing-plans .plans .plan {
	position: relative;
	z-index: 2;
}
.pricing-plans .plans .plan .popular {
	background-color: var(--main-color);
	position: absolute;
	right: -2rem;
	top: 3.5rem;
	padding: 0.2rem 1rem;
	padding-right: 2rem;
	transform: rotate(90deg);
	font-weight: bold;
	color: white;
	font-size: 1.125rem;
}
.pricing-plans .plans .plan .popular::after {
	content: '';
	position: absolute;
	color: rgb(14, 14, 14);
	right: -1rem;
	height: 2rem;
	width: 2rem;
	background: white;
	transform: rotate(45deg);
	transition: var(--main-transition);
}
.pricing-plans .plans .plan::after {
	content: '';
	background-color: rgb(243, 243, 243);
	position: absolute;
	width: 0%;
	height: 58%;
	bottom: 0;
	z-index: -1;
	right: 0;
	transition: var(--main-transition);
}
.pricing-plans .plans .plan:hover::after {
	content: '';
	background-color: rgb(243, 243, 243);
	position: absolute;
	width: 100%;
	height: 58%;
	bottom: 0;
	z-index: -1;
	right: 0;
	transition: var(--main-transition);
}
.pricing-plans .plans .plan::before {
	content: '';
	background-color: rgb(243, 243, 243);
	position: absolute;
	width: 0%;
	height: 42%;
	top: 0;
	z-index: -1;
	left: 0;
	transition: var(--main-transition);
}
.pricing-plans .plans .plan:hover::before {
	content: '';
	background-color: rgb(243, 243, 243);
	position: absolute;
	width: 100%;
	height: 42%;
	top: 0;
	z-index: -1;
	left: 0;
	transition: var(--main-transition);
}
.pricing-plans .plans .plan:nth-child(2):hover .popular::after {
	background: rgb(243, 243, 243);
}
.top-videos {
	padding: 6rem;
}
.top-videos .videos {
	border: 1px solid rgb(240, 240, 240);
	display: flex;
}
@media (max-width: 62.5em) {
	.top-videos .videos {
		flex-direction: column;
	}
}

.top-videos .videos .preview img {
	display: block;
	max-width: 100%;
}
.top-videos .videos .top-bar {
	display: flex;
	align-items: center;
	background-color: rgb(245, 245, 245);
	justify-content: space-between;
	padding: 1.5rem 1rem;
}
.top-videos .videos .side-bar {
	flex: 30%;
}
.top-videos .videos .top-bar h3 {
	line-height: 1;
	font-size: 1rem;
}
.top-videos .videos .side-bar .divider {
	width: 100%;
	height: 1px;
	background: rgb(240, 240, 240);
}
.top-videos .videos .side-bar .video-title {
	line-height: 1;
	margin-bottom: 0.3rem;
	transition: var(--main-transition);
}
.top-videos .videos .side-bar .video-time {
	color: rgb(133, 133, 133);
}
.top-videos .videos .side-bar .video-text {
	padding: 1rem;
	cursor: pointer;
	transition: var(--main-transition);
}
.top-videos .videos .side-bar .video-text:hover {
	background-color: #fafafa;
}
.top-videos .videos .side-bar .video-text:hover .video-title {
	color: var(--main-color);
}
.top-videos .videos .img-side {
	background-color: #e2e2e2;
	padding: 0.625rem;
	flex: 80%;
	display: grid;
}
.top-videos .videos .img-side .desc {
	margin-top: auto;
	background-color: white;
	padding: 1rem;
}
.stats {
	background: linear-gradient(#fdfdfdd0 80%, rgba(255, 255, 255, 0.712)),
		url('../imgs/stats.jpg');
	padding: 6rem;
	background-size: cover;
	background-blend-mode: screen;
	margin-bottom: 0 !important;
}
.stats .stat-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: 1fr;
	/* justify-content: center; */
	gap: 1rem;
	line-height: 1.5;
}

.stats .stat-cards > * {
	width: 100%;
}
.stats h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 2rem;
}
@media (max-width: 34.375em) {
	.stats h2 {
		font-size: 2rem;
	}
}
.stats .stat-card {
	background-color: white;
	text-align: center;
	padding: 2rem 0;
	cursor: pointer;
	position: relative;
}
.stats .stat-card::before {
	content: '';
	background-color: var(--main-color);
	width: 2px;
	height: 0%;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: 1s;
}
.stats .stat-card:hover::before {
	height: 100%;
}
.stats .stat-card::after {
	content: '';
	background-color: var(--main-color);
	width: 2px;
	height: 0%;
	position: absolute;
	top: 0;
	right: 0;
	transition: 1s;
}
.stats .stat-card:hover::after {
	height: 100%;
}
.stats .stat-card h3 {
	font-size: 3.125rem;
	font-weight: bold;
}
.stats .stat-card p {
	font-style: italic;
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--main-color);
}
.contact {
	display: flex;
	margin-bottom: 0 !important;
	padding: 0 !important;
}
@media (max-width: 65.7em) {
	.contact {
		flex-direction: column;
	}
}
.contact .contact-img {
	background: linear-gradient(#1b86ddf3, #1b82d6f3),
		url('../imgs/discount-background2.jpg');
	background-size: cover;
	width: 50%;
	color: white;
	text-align: center;
	padding: 4rem 6rem;
}

@media (max-width: 65.7em) {
	.contact .contact-img {
		width: auto;
		padding: 2rem;
	}
}
.contact .contact-img h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	letter-spacing: -0.1rem;
}
@media (max-width: 34.375em) {
	.contact .contact-img h2 {
		font-size: 2rem;
	}
}
.contact .contact-img p {
	font-size: 1.1rem;
}
@media (max-width: 34.375em) {
	.contact .contact-img p {
		font-size: 0.95rem;
	}
}
.contact .contact-img .icon {
	width: 18rem;
	max-width: 100%;
}

.contact form {
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: center;
	align-self: center;
	padding: 2.5rem 0;
}
@media (max-width: 65.7em) {
	.contact form {
		width: 100%;
	}
	.contact form input {
		width: auto;
	}
}

.contact form h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	letter-spacing: -0.1rem;
}
@media (max-width: 34.375em) {
	.contact form h2 {
		font-size: 2rem;
	}
}
.contact form input,
textarea {
	border: none;
	outline: none;
	padding: 0.8rem;
	width: 45%;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	background-color: rgb(249 249 249);
	border-bottom: 1px solid rgb(170, 170, 170);
	font-size: 1rem;
}
@media (max-width: 65.7em) {
	.contact form input,
	textarea {
		width: 70%;
	}
}
textarea {
	resize: none;
	display: block;
	height: 200px;
}
.contact form button {
	all: unset;
	width: 45%;
	margin: 0 auto;
	background-color: var(--main-color);
	padding: 0.5rem 0;
	font-weight: bold;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
}
@media (max-width: 65.7em) {
	.contact form button {
		width: 70%;
	}
}
.contact form button:hover {
	background-color: var(--main-color-alt);
}
.contact form input::placeholder {
	font-size: 1rem;
}
footer {
	background-color: rgb(25 25 25);
}
.footer-logo {
	font-weight: bold;
	font-size: 3rem;
	color: white;
	line-height: 0.7;
	margin-bottom: 2rem;
}
footer ul {
	width: 100%;
}
footer ul li a {
	color: rgb(160 160 160);
	margin-bottom: 0.5rem;
}
footer ul li {
	transition: var(--main-transition);
	cursor: pointer;
}
footer ul li:hover {
	transform: translateX(0.75rem);
}
footer ul li:hover a {
	color: white;
}
footer .footer-social-icons {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}
footer p {
	color: rgb(160 160 160);
}
footer .footer-social-icons > * {
	color: rgb(160 160 160);
	background-color: rgb(49 49 49);
	padding: 1rem;
	font-size: 1.2rem;
	cursor: pointer;
}
footer .footer-social-icons i:first-child {
	transition: var(--main-transition);
}
footer .footer-social-icons i:first-child:hover {
	background-color: #1787e0;
}
footer .footer-social-icons i:nth-child(2) {
	transition: var(--main-transition);
}
footer .footer-social-icons i:nth-child(2):hover {
	background-color: #2bbfec;
}
footer .footer-social-icons i:last-child:hover {
	background-color: #e43a23;
}
footer ul li::before {
	content: '';
	font-family: 'Font Awesome 5 Free';
	content: '\F101';
	font-weight: 900;
	color: var(--main-color);
	margin-right: 0.5rem;
}
footer ul .line {
	height: 1px;
	width: 100%;
	background-color: rgb(61, 61, 61);
	margin-bottom: 0.5rem;
}
footer .footer-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	place-items: center;
	padding: 5rem 6rem;
	gap: 2.5rem;
}
@media (max-width: 62.5em) {
	footer .footer-content {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}
@media (max-width: 30em) {
	footer .footer-content {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

footer .side-info {
	width: 100%;
}

footer .info .block {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 2rem;
}
footer .info {
	width: 100%;
}
footer .info i {
	font-size: 1.5rem;
	color: var(--main-color);
}
footer .gallery-cards-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 0.5rem;
	width: 100%;
}
footer .gallery-card-footer {
	background-color: rgb(255, 255, 255);
	padding: 0.2rem;
	box-shadow: 0 3px 10px rgba(16, 15, 36, 0.137);
	width: 5rem;
}
footer .gallery-card-footer img {
	max-width: 100%;
	transition: var(--main-transition);
	display: block;
}
footer .footer-line {
	width: 100%;
	height: 1px;
	background-color: rgb(61, 61, 61);
}
footer .copyright {
	text-align: center;
	color: white;
	padding: 1.2rem;
}
